body,
html {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}
#root {
    height: 100vh;
}
* {
    box-sizing: border-box;
}
.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: black;
}
.joinInnerContainer {
    width: 50%;
}
.joinInput {
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    font-size: medium;
}
.heading {
    color: #fff;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979ff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}
.mt-20 {
    margin-top: 20px;
}
.footer {
    margin: 0;
    position : fixed;
    bottom : 0px;
    color: white;
}
a {
    color: #349beb;
    text-decoration: none;
}
a:hover {
    opacity: 0.5;
    transition: ease-in-out 0.3s;
}
input:hover {
    opacity: 0.7;
    transition: ease-in-out 0.4s;
}
@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }
    .joinInnerContainer {
        width: 90%;
    }
}
button:focus {
    outline: 0;
}
